<body>
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link " routerLink="/admin/dashboard">
                    <i class="bi bi-grid"></i>
                    <span>Dashboard</span>
                </a>
            </li><!-- End Dashboard Nav -->


            <li class="nav-item">
                <a class="nav-link collapsed" routerLink="/admin/admins">
                    <i class="bi bi-journal-text"></i><span>Admins</span><i></i>
                </a>


            </li><!-- End  Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" routerLink="/admin/towns">
                    <i class="bi bi-journal-text"></i><span>Towns</span><i></i>
                </a>

            </li><!-- End towns Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" routerLink="/admin/farmers">
                    <i class="bi bi-journal-text"></i><span>Farmers</span><i></i>
                </a>

            </li><!-- End farmers Nav -->



            <li class="nav-item">
                <a class="nav-link collapsed" routerLink="/admin/crops">
                    <i class="bi bi-journal-text"></i><span>Crops</span><i></i>
                </a>

            </li><!-- End  Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" routerLink="/admin/recommendations">
                    <i class="bi bi-journal-text"></i><span>Recommendations</span><i></i>
                </a>


        </ul>

    </aside><!-- End Sidebar-->
</body>